/* ----- リンク定義 ----- */

a:link{color: #1b91de;}
#footArea a:link{color: #64b6eb;}
a:visited{color: #CB77CB;}
a:active{color: #CB77CB;}
a:hover{text-decoration: none;}

/* ----- タグ定義 ----- */

body {
	background-color: #fff;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
	color: #333;
	margin: 0px;
	padding: 0px;
}

p, li, dt, dd {
	font-size: 100%;
	line-height: 170%;
}

p, form, ul, ol, li, dl, dt, dd, td, th, h1, h2, h3, h4 {
	margin: 0px;
	padding: 0px;
}

ul {
	list-style-type: none;
}

label {
	cursor: pointer;
}

input {
	color: #555;
}

img {
	border: none;
}

/* ----- 全体 ----- */

.wrap {
	width: 1020px;
	margin: 0px auto;
	padding: 0px 30px;
}

.clear {
	clear: both;
	margin: 0px;
	padding: 0px;
}

.clearfix:after {
	content: ""; 
	display: block; 
	clear: both;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.allt {
	text-align: left;
}

.alct {
	text-align: center;
}

.alrt {
	text-align: right;
}

.nmlTxt {
	font-weight: normal;
}

/* ----- 装飾 ----- */

div.wakuYel {
	background-color: #FCF9E9;
	border: 1px solid #EBE0A5;
	padding: 10px 16px;
}

div.wakuBlu {
	background-color: #EBF4FA;
	border: 1px solid #C4DFF3;
	padding: 10px;
}

div.wakuRed {
	background-color: #FFF1F1;
	border: 1px solid #F3BBBB;
	padding: 10px;
}

div.wakuIndex {
	display: inline-block;
	background-color: #ffffff;
	font-size: 90%;
	margin-bottom: 30px;
	padding: 10px 40px 10px 40px;
	border: 1px solid #cccccc;
}

div.wakuIndex span {
	display: inline-block;
	padding-left: 10px;
}

/* ----- 文字装飾 ----- */

.smlTxt {
	font-size: 85%;
}

.smlerTxt {
	font-size: 80%;
}

.smlestTxt {
	font-size: 75%;
}

.bigTxt {
	font-size: 115%;
}

.biggerTxt {
	font-size: 120%;
}

.biggestTxt {
	font-size: 125%;
	line-height: 160%;
}

.colRed {
	color: #cc0000;
}

.colBlue {
	color: #4BAAE6;
}

.colBlue2 {
	color: #2244aa;
}

.colOra {
	color: #ea5e09;
}

.colPink {
	color: #FF8888;
}

.icoExc {
	background: url(../img/ico_exc.png) no-repeat 0px center;
	padding-left: 20px;
}

/* ===== ----- 記事用Style ----- ===== */

h2 {
	font-size: 140%;
	margin: 15px 0px 15px 0px;
	padding: 6px 0px 6px 12px;
	border-bottom: none;
	border-left: 5px solid #74c554;
}

h3 {
	background-color: #74c554;
	font-size: 110%;
	color: #fff;
	margin: 15px 0px 15px 0px;
	padding: 7px 10px 7px 10px;
	border-bottom: none;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

h4 {
	font-size: 110%;
	margin: 15px 0px 15px 0px;
	padding: 5px 0px 5px 10px;
	border-bottom: 1px dotted #666;
}

blockquote {
	background: url(../img/ico_quote.png) no-repeat 7px 6px;
	margin: 5px 0px 5px 20px;
	padding: 10px 20px 10px 25px;
	border: 3px solid #eee;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

table {
	width: 100%;
	border-collapse: collapse;
}

table td,
table th {
	background-color: #fff;
	font-size: 95%;
	vertical-align: top;
	padding: 8px 15px;
	border: 1px solid #ccc;
}

table th {
	background-color: #eee;
	font-weight: bold;
	vertical-align: top;
}

.btnArea {
	display: inline-box;
	background-color: #30b5e7;
	font-size: 90%;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	padding: 9px 25px;
	border: 1px solid #ddd;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.9);
}

.btnArea:hover {
	background-color: #7ed4f4;
}

.btnArea.biggest {
	display: block;
	width: 50%;
	font-size: 110%;
	text-align: center;
	margin: 0px auto;
	padding: 10px 5%;
}

.btnArea.big {
	font-size: 100%;
	padding: 9px 60px;
}

.btnArea.sml {
	font-size: 80%;
	padding: 7px 12px;
}