@charset "UTF-8";

/*
Theme Name: NATURAL PRESS
Theme URI: http://www.web-jozu.com/natural_press/
Description: レスポンシブ対応、ブロガー向けのマガジンテーマ
Version: 1.0.2
Author: WEB上手
Author URI: http://www.web-jozu.com/
*/


/* ----- リンク定義 ----- */

a:link{color: #1b91de;}
#footArea a:link{color: #64b6eb;}
a:visited{color: #CB77CB;}
a:active{color: #CB77CB;}
a:hover{text-decoration: none;}

/* ----- タグ定義 ----- */

body {
	background-color: #fff;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
	color: #333;
	margin: 0px;
	padding: 0px;
}

p, li, dt, dd {
	font-size: 100%;
	line-height: 170%;
}

p, form, ul, ol, li, dl, dt, dd, td, th, h1, h2, h3, h4 {
	margin: 0px;
	padding: 0px;
}

ul {
	list-style-type: none;
}

label {
	cursor: pointer;
}

input {
	color: #555;
}

img {
	border: none;
}

/* ----- 全体 ----- */

.wrap {
	width: 1020px;
	margin: 0px auto;
	padding: 0px 30px;
}

.clear {
	clear: both;
	margin: 0px;
	padding: 0px;
}

.clearfix:after {
	content: ""; 
	display: block; 
	clear: both;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.allt {
	text-align: left;
}

.alct {
	text-align: center;
}

.alrt {
	text-align: right;
}

.nmlTxt {
	font-weight: normal;
}

/* ----- 装飾 ----- */

div.wakuYel {
	background-color: #FCF9E9;
	border: 1px solid #EBE0A5;
	padding: 10px 16px 4px 16px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

div.wakuBlu {
	background-color: #EBF4FA;
	border: 1px solid #C4DFF3;
	padding: 10px 16px 4px 16px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

div.wakuRed {
	background-color: #FFF1F1;
	border: 1px solid #F3BBBB;
	padding: 10px 16px 4px 16px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

/* ----- 文字装飾 ----- */

.smlTxt {
	font-size: 85%;
}

.smlerTxt {
	font-size: 80%;
}

.smlestTxt {
	font-size: 75%;
}

.bigTxt {
	font-size: 115%;
}

.biggerTxt {
	font-size: 120%;
}

.biggestTxt {
	font-size: 125%;
	line-height: 160%;
}

.colRed {
	color: #cc0000;
}

.colBlue {
	color: #4BAAE6;
}

.colBlue2 {
	color: #2244aa;
}

.colOra {
	color: #ea5e09;
}

.colPink {
	color: #FF8888;
}

/* ----- 印刷用 ----- */

@media print{
	body { zoom:1; }
}


/* ===== ----- ヘッダー ----- ===== */

#headArea {
	width: 100%;
	min-width: 1080px;
	border-top: 4px solid #74c554;
}

#catchArea {
	padding: 3px 0px;
	background-color: #eee;
}

#catchArea p {
	font-size: 70%;
}

.logoArea {
	margin-top: 28px;
	margin-bottom: 26px;
}

#logo {
	float: left;
	font-size: 40px;
	font-weight: bold;
	line-height: 120%;
}

#logo a {
	text-decoration: none;
	color: #333;
}

#snsArea {
	float: right;
	padding-top: 9px;
}

#snsArea li {
	float: left;
	line-height: 100%;
	padding: 0px 8px;
}

#snsArea li#snsFb { padding: 0px 18px 0px 0px; }
#snsArea li#snsTt { padding: 1px 15px 0px 0px; }
#snsArea li#snsGp { padding: 0px 11px 0px 0px; }
#snsArea li#snsFl { padding: 0px 15px 0px 0px; }

#searchArea #s,
#searchform #s {
	width: 176px;
	height: 28px;
	line-height: 100%;
	padding: 0px 10px;
	border: 1px solid #ccc;
}

#searchArea {
	float: right;
	padding-top: 3px;
}

#searchArea li {
	float: left;
	line-height: 100%;
}

#searchsubmit {
	background: url(lib/img/ico_search.png) no-repeat center center;
	background-color: #74c554;
	width: 30px;
	height: 30px;
	border-style: none;
	cursor: pointer;
}

/* ===== ----- 上メニュー ----- ===== */

#mobileMenu label,
#mobileMenu input {
	display: none;
}

#menuArea {
	background-color: #74c554;
	width: 100%;
}

#topMenu {
	display: table;
	table-layout: fixed;
	width: 1020px;
	margin: 0px auto;
	padding: 12px 30px;
}

#topMenu li {
	display: table-cell;
	font-size: 85%;
	font-weight: bold;
	text-align: center;
	border-right: 1px solid rgba(255,255,255,0.3);
}

#topMenu li:first-child {
	border-left: 1px solid rgba(255,255,255,0.3);
}

#topMenu li a {
	display: block;
	width: 100%;
	color: #fff;
	line-height: 120%;
	text-decoration: none;
	padding: 12px 0px;
}

#topMenu li a:hover,
#topMenu li.current-menu-item,
#topMenu li.current-menu-parent,
#topMenu li.current-post-ancestor,
#topMenu li.current-category-ancestor {
		background-color: rgba(255,255,255,0.3);
}

/* ドロップメニュー */
#topMenu {
	z-index: 7;
}

#topMenu li ul {
	position: absolute;
	display: block;
}

#topMenu li ul li {
	display: block;
	background-color: #74c554;
	overflow: hidden;
	height: 0;
	transition: .2s;
	border-right: none;
}

#topMenu li ul li:first-child {
	border-left: none;
}

#topMenu li:hover ul li {
	overflow: visible;
	height: 38px;
}

#topMenu li ul li a {
	background-color: rgba(0,0,0,0.1);
	width: 174px;
	height: 26px;
	color: #ffffff;
	line-height: 100%;
	text-indent: 0px;
	text-decoration: none;
	padding: 12px 15px 0px 15px;
	border-top: 1px solid rgba(255,255,255,0.2);
}

#topMenu li ul li a:hover {
	background-color: rgba(255,255,255,0.2);
}


/* ===== ----- メイン ----- ===== */

#mainArea {
	padding-bottom: 20px;
}

#mainLt {
	float: left;
	width: 680px;
}

#mainRt {
	float: right;
	width: 300px;
}

#mainLt h1 {
	font-size: 160%;
	padding-top: 30px;
	margin-bottom: 3px;
	padding-bottom: 18px;
	border-bottom: 1px solid #999;
}

#mainLt.noneMeta h1 {
	margin-bottom: 20px;
}

#listPage #mainLt h2,
.recomTtl h2 {
	font-size: 130%;
	line-height: 130%;
	margin-top: 30px;
	margin-bottom: 20px;
	padding-bottom: 8px;
	border-bottom: 2px solid #ccc;
}

#mainRt h3 {
	background-color: #74c554;
	font-size: 110%;
	color: #fff;
	line-height: 130%;
	margin-bottom: 20px;
	padding: 8px 20px;
}

.morePost {
	padding-top: 10px;
}

.morePost a {
	display: block;
	color: #333;
	font-size: 80%;
	text-align: center;
	text-decoration: none;
	padding: 14px;
	border: 1px solid #ddd;
}

.morePost a:hover {
	background-color: #f9f9f9;
}

.topListPage {
	padding-top: 30px;
}

#entryArea {
	padding-bottom: 20px;
}

#entryArea p {
	padding: 5px 0px 15px 0px;
}

#entryArea img {
	max-width: 100%;
	height: auto;
}

#entryMeta {
	background-color: #f0f0f0;
	margin-bottom: 15px;
	padding: 5px 10px;
}

#entryCate {
	float: left;
}

#entryCate a {
	background-color: #e9bc21;
	font-size: 75%;
	text-decoration: none;
	color: #fff;
	padding: 1px 5px;
}

#entryDate {
	float: right;
	font-size: 80%;
	color: #666;
	padding-top: 3px;
}

.breadList {
	font-size: 80%;
	padding-top: 8px;
}

.breadList li {
	float: left;
}

.recomArea li {
	position: relative;
}

.recomArea li a {
	display: block;
	text-decoration: none;
}

.recomArea p.categoriTxt {
	position: absolute;
	top: 10px;
	left: -5px;
	background-color: #e9bc21;
	display: inline-box;
	font-size: 75%;
	color: #fff;
	line-height: 120%;
	padding: 2px 5px;
}

.recomArea p.itemTxt {
	display:block;
	position: absolute;
	bottom: 0px;
	background-color: rgba(0,0,0,0.6);
	width: 94%;
	font-size: 75%;
	color: #fff;
	line-height: 140%;
	padding: 4px 3%;
}

.recomArea img {
	width: 100%;
	height: auto;
}

.slick-slide {
	margin: 0px 8px;
}

.slick-prev:before,
.slick-next:before {
	content: '';
	display: block;
	width: 10px;
	height: 20px;
}

.slick-prev:before {
	background: url(lib/img/ico_prev.png) no-repeat;
}

.slick-prev,
.slick-next {
	width: 10px;
	height: 20px;
}

.slick-prev {
	left: -18px;
}

.slick-next {
	left: 1040px;
}

.slick-next:before {
	background: url(lib/img/ico_next.png) no-repeat;
}

.recomSpace {
	width: 1080px;
	margin: 0px auto;
}

.recomContainer {
	position: relative;
	width: 1036px;
	margin: 0px auto;
}

.itemLt {
	float: left;
	width: 130px;
	margin: 5px 0px;
}

.itemRt {
	float: right;
	width: 520px;
}

.itemRt h3 {
	font-size: 105%;
}

.itemBig .itemLt,
.itemBig .itemRt {
	width: 320px;
}

.itemBig .itemRt h3 {
	font-size: 120%;
}

.topItem {
	position: relative;
	width: 100%;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dotted #ccc;
}

.topItem p img {
	width: 100%;
	height: auto;
}

#mainLt .col2 .topItem {
	width: 320px;
}

.topItem {

}
.topItem a {
	display: block;
	line-height: 160%;
	text-decoration: none;
}

.topItem a:hover {
	background-color: #f3f1e8;
}

.topItem p.categoriTxt {
	position: absolute;
	top: 10px;
	left: -5px;
	background-color: #e9bc21;
	display: inline-box;
	font-size: 75%;
	color: #fff;
	line-height: 120%;
	padding: 2px 5px;
}

.timest {
	font-size: 75%;
	color: #999;
	padding: 6px 0px 2px 0px;
}

#mainLt .col2 .timest {
	padding: 10px 0px 2px 0px;
}

.mainTxt {
	font-size: 80%;
	color: #333;
	line-height: 160%;
	padding: 10px 0px 5px 0px;
}

.widgetArea {
	font-size: 85%;
	line-height: 170%;
	padding-top: 30px;
}

.widgetArea ul li {
	margin-top: 5px;
	padding-top: 5px;
	border-top: 1px dotted #ccc;
}

.widgetArea li:first-child {
	margin-top: 0px;
	padding-top: 0px;
	border-top: none;
}

.widgetArea ul.children li {
	margin-top: 5px;
	padding-top: 5px;
	padding-left: 14px;
	border-top: 1px dotted #ccc;
}

.tagArea a {
	background-color: #eee;
	display: inline-block;
	font-size: 80%;
	text-decoration: none;
	color: #666;
	margin: 0px 3px;
	padding: 1px 2px;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

.adArea1 {
	padding-bottom: 20px;
}

.adTopArea1 {
	padding-top: 30px;
}

.adArea2,
.adTopArea2 {
	padding-top: 20px;
}

/* ----- コメント -----*/

.comments {
	list-style-type: none;
}

.comments li div.comment-body {
	background-color: #f0f0f0;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin-bottom: 15px;
}

.comments li div.comment-body {
	font-size: 90%;
	padding: 15px 20px 10px 20px;
}

.comments li .comment-author {
	float: left;
	width: 48%;
	padding-bottom: 4px;
}

.comments li .comment-author .says {
	display: none;
}

.comments li .comment-author .fn {
	font-style: normal;
}

.comments li .commentmetadata {
	float: right;
	width: 48%;
	font-size: 90%;
	text-align: right;
	padding-bottom: 4px;
}

.comments li p {
	clear: both;
	padding-top: 5px;
	border-top: 1px dotted #ccc;
}

.comments li .comment-reply-link {
	background-color: #ccc;
	font-size: 80%;
	color: #333;
	text-decoration: none;
	padding: 1px 10px;
}

.comments li .children {
	padding-left: 50px;
}

.comments li .children .children {
	padding-left: 0px;
}

.comments li .children div.comment-body {
	background-color: #fbfbfb;
	border: 1px solid #ddd;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.comment-respond p {
	font-size: 90%;
}

.comment-respond #comment {
	width: 96%;
	height: 150px;
	margin: 10px 0px;
	padding: 8px 2%;
	border: 1px solid #aaa;
}

.comment-respond input {
	width: 46%;
	margin: 5px 0px 10px 0px;
	padding: 8px 2%;
	border: 1px solid #aaa;
}

.comment-respond #submit {
	width: 50%;
	margin-top: 12px;
	padding: 12px 0px;
}

.comment-respond .required{
	color: #cc0000;
}

/* ----- かんたんに書くと用 -----*/

#pointArea {
	font-size: 90%;
	margin: 0px 0px 25px 0px;
	padding: 12px 15px 8px 15px;
	border: 2px solid #ccc;
}

#pointArea .pointTtl{
	display: inline-block;
	background-color: #30b5e7;
	font-size: 70%;
	font-weight: bold;
	color: #fff;
	margin: 0px;
	padding: 1px 5px;
}

#pointArea ul {
	padding-left: 0px;
	padding-right: 10px;
	list-style-type: none;
	margin: 0px;
	padding: 10px 20px 0px 15px;
}

#pointArea ul li {
	background: url("lib/img/ico_index.png") no-repeat 0px 6px;
	margin: 0px 0px 5px 10px;
	padding: 0px 0px 5px 20px;
	border-bottom: 1px dotted #ccc;
}

#pointArea ul li:last-child {
	margin: 0px 0px 0px 10px;
	border-bottom: none;
}

/* ----- ページング -----*/

.pager{
	text-align: center;
	padding: 35px 0px;
}
a.page-numbers,
.pager .current{
	background: rgba(0,0,0,0.02);
	line-height: 240%;
	border: solid 1px rgba(0,0,0,0.1);
	border-radius: 5px;
	padding: 5px 8px;
	margin: 0 2px;
}
.pager .current{
	background-color: #16a1e7;
	font-weight: bold;
	color: rgba(255,255,255,1);
}

/* ----- Wordpress Popular post ----- */

.wpp-list img {
	padding: 5px 5px 5px 0px;
}

#mainRt .wpp-list {
	counter-reset: wppRunkNum;
}

#mainRt .wpp-list li {
	position: relative;
	padding-left: 5px;
}

#mainRt .widgetArea li:first-child {
	padding-top: 5px;
}

#mainRt .wpp-list li:before {
	content: counter(wppRunkNum, decimal);
	counter-increment: wppRunkNum;
	position: absolute;
	top: 7px;
	left: 0px;
	background-color: #5fbced;
	background-position: 5px 0px;
	font-size: 75%;
	line-height: 1;
	color: #fff;
	margin-top: 5px;
	padding: 4px 6px;
}

/* ===== ----- 記事用Style ----- ===== */

#detailpage #mainLt h2,
#detailpage #mainLt h3 {
	line-height: 130%;
	margin-top: 30px;
	margin-bottom: 20px;
	padding-bottom: 8px;
	border-bottom: 2px solid #ccc;
}

#entryArea h2 {
	font-size: 140%;
	margin: 15px 0px 15px 0px !important;
	padding: 6px 0px 6px 12px !important;
	border-bottom: none !important;
	border-left: 5px solid #74c554;
}

#entryArea h3 {
	background-color: #74c554;
	font-size: 110%;
	color: #fff;
	margin: 15px 0px 15px 0px !important;
	padding: 7px 10px 7px 10px !important;
	border-bottom: none !important;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

#entryArea h4 {
	font-size: 110%;
	margin: 15px 0px 15px 0px;
	padding: 5px 0px 5px 10px;
	border-bottom: 1px dotted #666;
}

#entryArea blockquote {
	background: url(lib/img/ico_quote.png) no-repeat 7px 6px;
	margin: 5px 0px 5px 20px;
	padding: 10px 20px 10px 25px;
	border: 3px solid #eee;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

#entryArea table {
	width: 100%;
	border-collapse: collapse;
}

#entryArea table td,
#entryArea table th {
	background-color: #fff;
	font-size: 95%;
	vertical-align: top;
	padding: 8px 15px;
	border: 1px solid #ccc;
}

#entryArea table th {
	background-color: #eee;
	font-weight: bold;
	vertical-align: top;
}

#entryArea .btnArea {
	display: inline-box;
	background-color: #30b5e7;
	font-size: 90%;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	padding: 9px 25px;
	border: 1px solid #ddd;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.9);
}

#entryArea .btnArea:hover {
	background-color: #7ed4f4;
}

#entryArea .btnArea.biggest {
	display: block;
	width: 50%;
	font-size: 110%;
	text-align: center;
	margin: 0px auto;
	padding: 10px 5%;
}

#entryArea .btnArea.big {
	font-size: 100%;
	padding: 9px 60px;
}

#entryArea .btnArea.sml {
	font-size: 80%;
	padding: 7px 12px;
}

/* ===== ----- フッター ----- ===== */

#footBg {
	background-color: #444;
	width: 100%;
	min-width: 1080px;
}

#footArea {
	color: #ffffff;
	margin-top: 20px;
	padding: 20px 0px 10px 0px;
}

.footContents {
	border-left: 1px solid #666;
	border-right: 1px solid #666;
}

#footArea {
	display: table;
}

#footArea .col3 {
	display: table-cell;
	width: 29%;
	padding: 0px 2%;
	border-left: 1px solid #666;
}

#footArea .col3:first-child {
	border-left: none;
}

#footArea h3 {
	font-size: 110%;
	margin-bottom: 10px;
	padding-left: 10px;
	border-left: 3px solid #ccc;
}

#footArea .widgetArea {
	padding: 10px 0px;
}

#copyright {
	float: left;
	width: 58%;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
	font-size: 75%;
	padding: 25px 2% 10px 0px;
}

#webjozu {
	float: right;
	width: 40%;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
	font-size: 75%;
	text-align: right;
	padding: 25px 0px 10px 0px;
}

#webjozu a {
	text-decoration: none;
	color: #fff;
}

#webjozu a:hover {
	text-decoration: underline;
}


/* ----------------------------
* レスポンシブ
---------------------------- */


@media screen and (max-width: 1080px) {

/* ----- 全体 ----- */

.wrap {
	width: 94%;
	padding: 0px 3%;
}

iframe {
	width:100%;
}

/* ===== ----- ヘッダー ----- ===== */

#headArea {
	min-width: 0px;
}

/* ===== ----- 上メニュー ----- ===== */

#topMenu {
	display: table;
	table-layout: fixed;
	width: 94%;
	margin: 0px auto;
	padding: 12px 3%;
}

/* ===== ----- メイン ----- ===== */

.mainPh img {
	width: 100%;
}

.recomSpace {
	width: 100%;
	margin: 0px auto;
}

.recomContainer {
	width: 94%;
	padding: 0px 3%;
}

.slick-next {
	left: 101%;
}

#mainLt {
	width: 68%;
}

#mainRt {
	width: 28%;
}

#mainLt .col2 .topItem,
.itemBig .itemLt,
.itemBig .itemRt {
	width: 48%;
}

.itemRt {
	width: 100%;
	margin-left: -180px;
}

.itemRtCont {
	margin-left: 180px;
}

/* ===== ----- フッター ----- ===== */

#footBg {
	min-width: 0px;
}

}


@media screen and (max-width: 800px) {

/* ===== ----- メイン ----- ===== */

#mainLt,
#mainRt {
	float: none;
	width: 100%;
}

/* ----- ページング -----*/

.pager{
	padding: 15px 0px;
}

}


@media screen and (max-width: 580px) {

/* ----- 全体 ----- */

.wrap {
	width: 92%;
	padding: 0px 4%;
}

/* ===== ----- ヘッダー ----- ===== */

#headArea {
	width: 100%;
	min-width: 0px;
}

.logoArea {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 0px;
}

#logo {
	float: none;
	width: 80%;
	margin: 0px auto 10px auto;
}

#logo img {

	height: auto;
	max-width: 100%;
}

#snsArea {
	padding-top: 8px;
}

/* ===== ----- 上メニュー ----- ===== */

#menuArea {
	margin-top: 5px;
}

#topMenu {
	display: block;
	table-layout: auto;
	overflow: hidden;
	height: 0;
	transition: .2s;
	padding: 0px 3%;
	border-top: 1px solid rgba(255,255,255,0.2);
}

#topMenu li {
	display: block;
	border-right: none;
	border-bottom: 1px solid rgba(255,255,255,0.2);
}

#topMenu li:first-child {
	border-left: none;
}

#topMenu li:last-child {
	border-bottom: none;
}

#topMenu li ul {
	display: none;
}

#mobileMenu {
	display: block;
}

#mobileMenu label {
	display: block;
	color: #fff;
	font-size: 80%;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	padding: 18px 0px;
}

#mobileMenu label:hover {
	background-color: rgba(255,255,255,0.3);
}

#mobileMenu input:checked + #topMenu {
	overflow: visible;
	height: auto;
	padding: 12px 3%;
}

/* ===== ----- メイン ----- ===== */

.wrap.mainPh {
	width: 100%;
	padding: 1px 0px 0px 0px;
}

.mainPh img {
	width: 100%;
}

.recomSpace {
	width: 100%;
	margin: 0px auto;
}

.recomContainer {
	width: 92%;
	padding: 0px 4%;
}

.slick-next {
	left: 101%;
}

.itemLt {
	width: 100px;
}

.itemRt {
	margin-left: -120px;
}

#mainLt .col2 .topItem,
.itemBig .itemLt,
.itemBig .itemRt {
	float: none;
	width: 100%;
}

.itemBig .itemLt,
.itemBig .itemRt,
.itemBig .itemRtCont {
	float: none;
	width: 100%;
	margin-left: 0px;
}

.topItem .itemLt p.categoriTxt {
	font-size: 65%;
}

.timest {
	padding: 2px 0px 2px 0px;
}

.topItem h3,
.itemBig .itemRt h3 {
	font-size: 110%;
}

.itemRtCont {
	margin-left: 120px;
}

.itemRtCont .mainTxt {
	display: none;
}

.itemRtCont h3 {
	font-size: 90%;
	line-height: 150%;
}

.widgetArea li:last-child {
	border-bottom: none;
}

/* ----- コメント ----- */

.comments li .children {
	padding-left: 5%;
}

.comment-respond #comment {
	width: 94%;
	height: 100px;
	margin: 10px 0px;
	padding: 8px 3%;
}

.comment-respond input {
	width: 94%;
	margin: 5px 0px 10px 0px;
	padding: 8px 3%;
}

.comment-respond #submit {
	width: 100%;
	margin-top: 12px;
	padding: 12px 0px;
}

/* ===== ----- 記事用Style ----- ===== */

#entryArea table.mobileTb {
	border-top: 1px solid #ccc;
}

#entryArea table.mobileTb td,
#entryArea table.mobileTb th {
	width: 94%;
	display: block;
	padding: 14px 3%;
	border-top: none;
}

/* ===== ----- フッター ----- ===== */

.footContents {
	border-left: none;
	border-right: none;
}

#footArea {
	display: block;
	margin-top: 20px;
	padding: 10px 0px 10px 0px;
}

#footArea .col3 {
	display: block;
	width: 100%;
	padding: 8px 0;
	border-bottom: 1px solid #666;
	border-left: none;
}

#copyright,
#webjozu {
	float: none;
	width: 100%;
	text-align: center;
	padding: 25px 0px 2px 0px;
}

#webjozu {
	padding: 0px 0px 10px 0px;
}

}